<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GESDEP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GESDEP">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".LoginActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".UserHomeActivity" android:exported="false" />
        <activity android:name=".AdminHomeActivity" android:exported="false" />
        <activity android:name=".CoachHomeActivity" android:exported="false" />

        <activity android:name=".EventsActivity" android:exported="false" android:label="Eventos" />
        <activity android:name=".CreateEventActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ActivityListEvents" android:exported="false" />
        <activity android:name=".ActivityEventDetail" android:exported="false" />
        <activity android:name=".EditEventActivity" android:exported="false" />

        <activity android:name=".CreditActivity" android:exported="false" />
        <activity android:name=".ManageVenuesActivity" android:exported="false" />
        <activity android:name=".CreateVenueActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".MapPickerActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".NotificationsActivity" android:exported="false" />
        <activity android:name=".MaintenanceActivity" android:exported="false" />

        <activity android:name=".ParticipantsActivity" android:exported="false" />
        <activity android:name=".UserDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity android:name=".CoachesActivity" android:exported="false" />
        <activity android:name=".AttendanceActivity" android:exported="false" />
        <activity android:name=".GalleryActivity" android:exported="false" android:label="Galería"/>
        <activity android:name=".MapEventsActivity" android:exported="false" android:label="Mapa de Eventos"/>

        <activity android:name=".CreateReportActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ReportsListActivity" android:exported="false" />
        <activity android:name=".ReportDetailActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".SettingsActivity" android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>