<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GESDEP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar">
        <activity
            android:name=".MaintenanceActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".CoachesActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitiesListActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- API KEY de Google Maps, la referencia está en strings.xml -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>